@font-face {
  font-family: BTTF;
  src:url(BTTF.ttf);
}
body {
  font-family: BTTF, 'Source Code Pro', 'Courier', monospace;
  margin: 0;
}

canvas {
  background: #000;
  margin: 10px;
}

a {
  color: #000;
  text-decoration: none;
  &:hover, &:visited {
    color: #000;
    text-decoration: none;
  }
  border-bottom: 2px solid #31ffd5;
}

.main-wrapper {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header, .main-footer {
  text-align: center;
}
.main-header {
  width: 100%;
}
.subtitle {
  font-size: 1.5em;
}
@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
.main-header {
  margin-top: 0;
  margin-bottom: 2em;
  background: #31ffd5;
  h1 {
    margin: 0;
    padding: 0.5em 1em;
    font-family: BTTF, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    
    white-space: nowrap;

    animation: left_to_right 3s ease-in-out;  
  }
  a {
    color: #000;
    text-decoration: none;
  }
}

.main-footer {
  margin-top: 2em;
  p {
    text-transform: lowercase;
  }
}

li, p {
  line-height: 1.25em;
}

li {
  margin: 0.5em 0;
}

#displayInfo {
  background-color: rgb(243, 243, 243);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  height: 502px;
}

#msgT {
  font-family: BTTF, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}
#msgM {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}




.main-footer{
  width: 350px;
  padding: 30px;
  margin: auto;
  transition: .3s ease;
  a:hover {
			background-position: -100% 0;
  }
  a{
    background: linear-gradient(to right, rgba(255,255,255,0) 50%, #31ffd5 50%);
    background-size: 200%;
    // background-position: 0 0;
    display: inline;
    transition: .4s ease-in-out;
    
    a{
      color: white;
      text-decoration: none;
    }
  }
  
}
